input {
    margin-bottom:1em;
}
.btn-primary {
    margin-bottom: 1em;
}
#contenedor{
    display:flex;
    flex-direction: column;
    
}
.col-xs-3 {
margin: 1em;
}
#formError{
 font-size: 1.2em;
 color: red;
}
