input {
    margin-bottom:1em;
}
.btn-primary {
    margin-bottom: 1em;
}
#contenedor{
    display:flex;
    flex-direction: column;
    
}

#principal{
    margin-left: 35%;
}
.col-xs-3 {
margin: 1em;
}
form{
    border:1px solid cadetblue;
    padding: 1em;
}
#formError{
 font-size: 1.2em;
 color: red;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: gainsboro;
  color: black;
  text-align: center;
}
